//colores

$colorfooter:#100C3F;
$colorbackground:#005892;
$colorseccion:#0082F1;
$colorgrilla:#494454;
$colorborde:#14DFBD;
$colorboton:#2A6672;
$colorenfasis:#494454;
$colorfuente:#FCF7FF;


//tamaño de fuentes

$intro:48px;
$titulo:40px;
$subtitulo:32px;
$articulo:24px;
$parrafo: 16px;
$subparrafo: 12px;
$aclaracion:8px;

//herramientas

$anchobanner: 100vw;