@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

.navbar {
    background-color: rgb(15, 124, 134);
}

.collapse {
    display: flex;
    justify-content: flex-start;
}

.nav-link { 
    color: rgb(229, 233, 254) !important;
}

.nav-item:hover {
    background-color:rgba(0, 49, 139, 0.62);
    border-radius: 5px;
}

.jumbotron{
    background-color:rgb(92, 181, 184);
    background-image: url(img/rollingstart.jpg);
    background-size: cover;
    background-position: center;
}

.button1:hover{
    background-color: rgba(0, 49, 139, 0.62) !important;
}

.button1{
    border: 5 px solid rgba(0, 49, 139, 0.62) !important;
}

.feat{
    background-color: rgb(0, 0, 0);
    color: rgb(229, 233, 254);
    border: 3px solid rgba(0, 254, 254, 0.905);
    text-align: center;
}

.feat span{
    font-size: 48px;
}

.feat h3{
    color: rgb(0, 255, 208);
}

footer{
    background-color: rgba(0, 254, 254, 0.905);
}

body {
    background-color: rgb(39, 84, 84);
    width: 100vw;
    overflow-x: hidden;
}

h1{
    color: rgb(229, 233, 254);
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 48px;
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
}

h2{ 
    color: whitesmoke;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 42px;
    text-shadow: 2px 2px 5px black;}

h3{
    color: whitesmoke;
    text-align:justify;
    font-family: 'Ubuntu', sans-serif;
    font-size: 24px;
    text-shadow: 2px 2px 5px black;
}

h4{
    color: rgb(229, 233, 254);
    text-align: justify;
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    font-style: normal;
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
}

h5{
    color:whitesmoke;
    text-align: justify;
    font-family: 'Ubuntu', sans-serif;
    font-size: 10px;
    font-style: normal;
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
}

.nleft{
    height: 450px;
    background-image:url(img/pits.jpg);
    background-position: center;
    background-size: cover;

}

.banner1 {
    overflow: hidden;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(15, 124, 134);
}

.menubanner {
    list-style-type: none;
    background-color: rgb(15, 124, 134);
    display: inline-block;
    margin: 12px;
    margin-block: 12px;
}

.encabezado {
    color: rgb(229, 233, 254);
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 46px;
}

.titulo {
    color: rgb(229, 233, 254);
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 40px;
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
}

.subtitulo {
    color: rgb(229, 233, 254);
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    font-style: normal;
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
}

.intro {
    color: rgb(229, 233, 254);
    font-family: 'Ubuntu', sans-serif;
    font-size: 18px;
    text-align: justify;
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
}

.descripcion {
    color: rgb(229, 233, 254);
    font-family: 'Ubuntu', sans-serif;
    font-size: 18px;
    text-align: justify;
}

.titulo2 {
    color: rgb(229, 233, 254);
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 40px;
}

.intro2 {
    color: rgb(229, 233, 254);
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 22px;
    font-style: italic;
}

.tituloarticulo {
    color: rgb(229, 233, 254);
    text-align: justify;
    font-family: 'Ubuntu', sans-serif;
    font-size: 30px;
    font-style: italic;
}

.comentario {
    color: rgb(160, 149, 149);
    text-align: justify;
    font-family: 'Ubuntu', sans-serif;
    font-size: 12px;
    font-style: normal;
}

.cuerpoarticulo {
    color: rgb(160, 149, 149);
    font-family: 'Ubuntu', sans-serif;
    font-size: 18px;
    text-align: justify;
}

.tituloimagen {
    color: rgb(229, 233, 254);
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 28px;
}

.imagenes {
    height: 720px;
    width: 1280px;
    border: solid rgba(220, 20, 40, 0.854) 4px;
}

.links {
    text-decoration: none;
    color: rgb(229, 233, 254);
    margin-right: 10px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
}

.redes {
    color: rgb(229, 233, 254);
}

.mapa {
    border: solid rgba(220, 20, 40, 0.854) 4px;
}

.banner2 {
    overflow: hidden;
    background-color: rgb(15, 124, 134);
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.marca {
    color: rgb(229, 233, 254);
    text-align: end;
    font-family: 'Ubuntu', sans-serif;
    font-size: 12px;
}

.sociales { 
    color: rgb(229, 233, 254);
    text-align: start;
    font-family: 'Ubuntu', sans-serif;
    font-size: 12px;
}

.aviso {
    color: rgb(229, 233, 254);
    text-align: justify;
    font-family: 'Ubuntu', sans-serif;
    font-size: 18px;
}